* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(71, 255, 194);
    font-family: "Josefin Sans", sans-serif;
}

.main {
    /* display: flex; */
    justify-content: center;
    height: 500px;
    border: 1px solid black;
    margin: 100px;
    align-items: center;
}

.time {
    display: flex;
}

/* .allbuttons{
   
}
.allbuttons .start{
    height: 50px;
    width: 50px;
    border-radius: 10px;
} */

.heading {
    padding-left: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;

}
.heading h1{
    font-size: 50px;
    

}

.time {
    margin-top: 30px;
    padding-left: 50px;
    background-color: rgb(219, 180, 180);
    padding: 50px;
    align-items: center;
    justify-content: center;

}

.allbuttons {
    margin-top: 30px;
    display: flex;
    background-color: rgb(219, 180, 180);
    padding: 50px;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.hr {
    margin-right: 10px;
    font-size: 50px;
}

.hr span {
    font-size: 30px;
}

.min {
    margin-right: 10px;
    font-size: 50px;
}

.min span {
    font-size: 30px;
}

.sec {
    margin-right: 10px;
    font-size: 50px;
}

.sec span {
    font-size: 30px;
}

.milisec {
    margin-right: 10px;
    font-size: 50px;
}
.start{
    padding: 9px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(117, 223, 117);
}
.stop{
    padding: 9px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(238, 63, 63);
}
.reset{
    padding: 9px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(81, 81, 249);
}