* {
    margin: 0px;
    padding: 0px;
}

body {

    font-family: "Josefin Sans", sans-serif;
    background-color: #eaf3fb;

}

.main {
    height: 100%;
    border: 1px solid black;
    margin: 30px 200px;
    
    border-radius: 10px;
    width: 800px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 45%;

}

.time {
    display: flex;
}


.heading {
    padding-left: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;

}

.heading h1 {
    font-size: 47px;
    color: #3a56a3;
    word-spacing: 50px;
    letter-spacing: 5px;




}

.time {
    margin-top: 30px;
    padding-left: 50px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    background-color: #f7ae3f;
    color: #f1f3f5;

}

.allbuttons {
    margin-top: 1px;
    display: flex;
    background-color: #c0ddfa;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.hr {
    font-size: 50px;
}

.hr span {
    font-size: 30px;
    margin-right: 40px;
}

.min {
    font-size: 50px;
}

.min span {
    font-size: 30px;
    margin-right: 40px;

}

.sec {
    font-size: 50px;
}

.sec span {
    font-size: 30px;
    margin-right: 40px;

}

.milisec {
    margin-right: 10px;
    font-size: 50px;
}

.start {
    padding: 9px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(117, 223, 117);
    color: white;
}

.stop {
    padding: 9px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(238, 63, 63);
    color: white;

}

.reset {
    padding: 9px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: #4972b4;
    color: white;

}